@tailwind base;
@tailwind components;
@tailwind utilities;

.react-grid-item.react-grid-placeholder {
  background: rgb(59 130 246 / 0.15);
  border: 2px dashed rgb(59 130 246 / 0.5);
  border-radius: 1rem;
  opacity: 1;
  transition-duration: 100ms;
  z-index: 2;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgb(148 163 184);
  border-bottom: 2px solid rgb(148 163 184);
}

.react-grid-item.react-dragging {
  transition: none;
  z-index: 100;
  will-change: transform;
  cursor: grabbing !important;
}

.react-grid-item.react-dragging .widget-drag-handle {
  cursor: grabbing !important;
}
